/*
 * @Author: mikey.zhaopeng
 * @Date: 2022-09-30 16:16:20
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2022-09-30 17:02:49
 */
/*
 * @Author: mikey.zhaopeng
 * @Date: 2022-09-30 16:06:03
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2022-09-30 16:14:26
 */
// The very top of the site, element that usually includes
// the site navigation and search for example.
// Colors
:root {
  --logo-size: 80px;
}

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-grid-base;
  min-height: calc((var(--padding-site-header-vertical) * 2) + var(--logo-size));
  padding-bottom: var(--padding-site-header-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  position: relative;
  z-index: 15;

  .button {
    @include button(
      max-content,
      var(--color-white),
      var(--color-black),
      var(--color-black),
      var(--color-white),
      30px,
      1px solid var(--color-white),
      1px solid var(--color-black),
      700,
      false);

    &.button-small {
      @include button-size-small();
    }

    @media (max-width: $width-max-mobile) {
      display: none;
    }
  }
}

.site-branding {
  max-height: var(--logo-size);
  width: auto;
}

.site-title {
  line-height: 0;
  margin: 0;

  a {
    align-items: center;
    display: flex;
  }
}

// Nav container visibility fix
.nav-container {
  z-index: 10;
}

// Add margin top because of absolute position
.site-main {
  margin-top: calc((var(--padding-site-header-vertical) * 2) + var(--logo-size) + var(--margin-large));
}
