// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root {

  // Main element colors
  --color-main: var(--color-black);
  --color-heading: var(--color-main);
  --color-paragraph: var(--color-black);

  // Modern link that has background effect on hover
  --color-link-border-focus: var(--color-black);
  --color-link-comment: var(--color-black);
  --color-link-comment-time-anchor: var(--color-black);
  --color-link-edit-background-hover: var(--color-white);
  --color-link-edit-border: var(--color-black);
  --color-link-edit-text: var(--color-black);
  --color-link-edit-text-hover: var(--color-black);
  --color-link-text: var(--color-black);
  --color-link-text-focus: var(--color-black);
  --color-link-text-hover: var(--color-black);
  --color-link-background-hover: var(--color-link-text);

  // Element colors
  --color-background-code-block: var(--color-black);
  --color-background-code-inline: var(--color-white);
  --color-background-default: var(--color-white);
  --color-background-shade: var(--color-black);
  --color-background-table-cell-odd: var(--color-white);
  --color-background-table-cell-even: var(--color-white);
  --color-background-top: var(--color-white);
  --color-background-top-hover: var(--color-white);
  --color-background-tag: var(--color-white);
  --color-blockquote: var(--color-black);
  --color-comment-text: var(--color-black);
  --color-comment-author-text: var(--color-black);
  --color-tag-border: var(--color-black);
  --color-tag-border-hover: var(--color-black);
  --color-tag-text: var(--color-black);
  --color-category-border: var(--color-white);
  --color-category-text: var(--color-black);
  --color-caption: var(--color-black);
  --color-code-block: var(--color-orange);
  --color-code-text: var(--color-white);
  --color-kbd-border: var(--color-white);
  --color-kbd-background: var(--color-white);
  --color-pagination-text: var(--color-black);
  --color-pagination-background-hover: var(--color-black);
  --color-pagination-border-hover: var(--color-black);
  --color-pagination-text-hover: var(--color-white);
  --color-pagination-background-current: var(--color-black);
  --color-pagination-border-current: var(--color-black);
  --color-pagination-text-current: var(--color-white);
  --color-top-arrow-dark: var(--color-black);
  --color-top-arrow-light: var(--color-white);
  --color-error-block-border: var(--color-white); // Color picked from ACF
  --color-error-block-background: var(--color-white); // Color picked from ACF

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
  --color-warning: #cc752e;
}
