// CSS Variables for responsive fonts
:root {
  // Heading font sizes
  --font-size-h1: 3.45rem;
  --font-size-h2: 2.7rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.8rem;

  // Paragraph font sizes
  --font-size-text: 1.5rem;

  // Link font size
  --font-link: 1.5rem;

  // Element font sizes
  --font-size-paragraph: var(--font-size-text);
  --font-size-nav-toggle-label: var(--font-size-text);
  --font-size-captions: var(--font-size-text);

  // Line-heights
  --line-height-headings: 1.5;
  --line-height-core-heading: 1.23;
  --line-height-paragraph: 1.7;
  --line-height-footer: 2.5;

  // Font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-paragraph: var(--font-weight-regular);
  --font-weight-headings: var(--font-weight-bold);

  // Heading font sizes in mobile
  @media (max-width: $container-mobile) {
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.875rem;
    --font-size-h3: 1.525rem;
    --font-size-h4: 1.4rem;
    --font-size-paragraph: 1.3rem;
    --font-size-text: 1.3rem;
    --font-link: 1.3rem;
  }

  // Element font sizes in tiny phones like iPhone 5S
  @media (max-width: 420px) {
    --font-size-16: 14px;
    --font-size-nav-toggle-label: 13px;
  }
}
