html{
  // Brand color pool
  --color-black: #000;
  --color-orange: #f29100;
  --color-green: #004743;
  --color-white: #fff;
  --color-light-green: #296a67;
  --color-background: #FFF1D9;
  --color-jauge: #f29100;

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
  --color-warning: #cc752e;
}
