html {
  // Brand color pool
  --color-black: #000;
  --color-primary: #f29100;
  --color-secondary: #004743;
  --color-white: #fff;
  --color-scorpion: #9e6847;
  --color-valhalla: #262444;
  --color-blue-chalk: #02e;
  --color-east-bay: #47526e;
  --color-light-secondary: #296a67;
  --color-background: #fff1d9;
  --color-jauge: #f29100;
  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
  --color-warning: #cc752e;
}
