html[data-theme="reverseColor"] {
  // Brand color pool
  --color-black: #000;
  --color-orange: #000;
  --color-green: #000;
  --color-white: #fff;
  --color-light-green: #000;
  --color-background: #fff;
  --color-jauge: #fff;

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
  --color-warning: #cc752e;
}
