.block-header-home {
  .container {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $container-mobile) {
      min-height: 100vh;
    }
  }
  .background-header {
    //background-color: linear-gradient(0deg, var(--color-background-default) 0%, rgb(255 255 255 / .75) 100%);
    background: linear-gradient(360deg, var(--color-background-default) 0, rgb(255 254 252 / 86%) 100%);
  }
  .content {
    width: 100%;
    flex-grow: 1;
    padding-top: var(--margin-extra-large);
  }

  h1,
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
  }
  .scroll-icon {
    transition: all 500ms ease-in-out;
  }
  .scroll-icon:hover {
    transform: translateY(-5px);
  }
  .boutons-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--margin-small);

    @media (min-width: $container-mobile) {
      flex-direction: row;
    }

    a{
      display: flex;
      align-items: center;
      transition: all 500ms ease-in-out;
    }

    a:hover svg{
      transform: translateX(5px);
      transition: all 500ms ease-in-out;
    }
  }
}

.button-w {
  @include button(
    max-content,
    var(--color-white),
    var(--color-black),
    var(--color-black),
    var(--color-white),
    30px,
    1px solid var(--color-black),
    1px solid var(--color-black),
    var(--font-weight-semibold),
    true);
  margin: var(--margin-small);
}



.button-b {
  @include button(
    max-content,
    var(--color-white),
    var(--color-black),
    var(--color-black),
    var(--color-white),
    30px,
    1px solid var(--color-black),
    1px solid var(--color-black),
    var(--font-weight-semibold),
    true);
  margin: 0 var(--margin-small);
}

@media (min-width: $container-mobile) {
  .button-w{
    margin: var(--margin-small);
  }

  .button-w {
    @include button(
    max-content,
    var(--color-white),
    var(--color-black),
    var(--color-black),
    var(--color-white),
    30px,
    1px solid var(--color-black),
    1px solid var(--color-black),
    var(--font-weight-semibold),
    true);
    margin: var(--margin-small);
  }

  .button-b {
    @include button(
      max-content,
      var(--color-white),
      var(--color-black),
      var(--color-black),
      var(--color-white),
      30px,
      1px solid var(--color-black),
      1px solid var(--color-black),
      var(--font-weight-semibold),
      true);
      margin: var(--margin-small);
  }
}
