.block-header-home {
  .container {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $container-mobile) {
      height: 100vh;
      max-height: 70rem;
    }
  }
  .background-header{
    background: linear-gradient(0deg, var(--color-background-default) 0%, rgb(255 255 255 / 75%) 100%);
  }
  .content {
    width: 100%;
    flex-grow: 1;
    padding-top: 6.25rem;
  }

  h1,
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
  }
  .scroll-icon{
    transition: all 500ms ease-in-out;
  }
  .scroll-icon:hover{
    transform: translateY(-5px);
  }
  .boutons-container{
    display: flex;
    justify-content: center;
    a{
      display: flex;
      align-items: center;
    }
  }


}

.button-w{
  margin: 1.563rem ;
  @include button(max-content,var(--color-black),var(--color-black),transparent ,var(--color-white),30px,1px solid var(--color-black),1px solid var(--color-black),var(--font-weight-semibold),true);
  transition: all 500ms ease-in-out;
}

.button-w:hover{
  @include button(max-content,var(--color-black),var(--color-black),transparent ,var(--color-white),30px,1px solid var(--color-white),1px solid var(--color-white),var(--font-weight-semibold),true);
  transition: all 500ms ease-in-out;
}

.button-b{
  margin: 0 1.563rem;
  @include button(max-content,var(--color-white),var(--color-white),var(--color-black),var(--color-black),30px,1px solid var(--color-black),1px solid var(--color-black),var(--font-weight-semibold),true);
  transition: all 500ms ease-in-out;
}

.button-b:hover{
  @include button(max-content,var(--color-black),var(--color-black),var(--color-white),var(--color-white),30px,1px solid var(--color-white),1px solid var(--color-white),var(--font-weight-semibold),true);
  transition: all 500ms ease-in-out;
}

@media (min-width: $container-mobile) {
  .button-w{
    margin: 1.563rem ;
    @include button(max-content,var(--color-black),var(--color-black),transparent ,var(--color-white),30px,1px solid var(--color-black),1px solid var(--color-black),var(--font-weight-semibold),true);
    transition: all 500ms ease-in-out;
  }

  .button-w:hover{
    margin: 1.563rem;
    @include button(max-content,var(--color-black),var(--color-black),transparent ,var(--color-white),30px,1px solid var(--color-white),1px solid var(--color-white),var(--font-weight-semibold),true);
    transition: all 500ms ease-in-out;
  }

  .button-b{
    margin: 1.563rem;
    @include button(max-content,var(--color-white),var(--color-white),var(--color-black),var(--color-black),30px,1px solid var(--color-black),1px solid var(--color-black),var(--font-weight-semibold),true);
    transition: all 500ms ease-in-out;
  }

  .button-b:hover{
    @include button(max-content,var(--color-black),var(--color-black),var(--color-white),var(--color-white),30px,1px solid var(--color-white),1px solid var(--color-white),var(--font-weight-semibold),true);
    transition: all 500ms ease-in-out;
  }
}
