.chiffres {
  &__title {
    text-align: center;
    font-size: var(--font-size-h3);
    font-family: var(--font-heading), sans-serif;
    margin-bottom: var(--margin-small);
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $container-mobile) {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
    }

    @media screen and (min-width: $container-ipad) {
      gap: 8rem;
    }
  }

  &__listItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-small);
  }

  &__listItemTitle {
    font-size: var(--font-size-h2);
    color: var(--color-orange);
    margin: 0;
  }

  &__listItemText {
    text-align: center;
    font-size: var(--font-size-text);
    font-family: var(--font-paragraph), sans-serif;
    margin: 0;
  }
}
