.tarifs {
  &__mainTitle {
    text-align: center;
    font-size: var(--font-size-h2);
    font-family: var(--font-heading), sans-serif;
    margin-bottom: var(--margin-small);
  }

  &__plans {
    list-style-type: none;
    padding-left: 0;
    display: grid;

    @media screen and (max-width: $width-max-mobile) {
      grid-template-rows: repeat(3, max-content);
      grid-row-gap: var(--margin-medium);
    }

    @media screen and (min-width: $width-max-mobile) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: var(--margin-medium);
    }

    align-items: start;
  }
}

.plan {
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 3.125rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include box-with-shadow(20px,50px,var(--color-white));

  #plan__buttonOpen {
    display: none;
  }

  @media screen and (max-width: $width-max-mobile) {
    #plan__buttonOpen {
      transform: translateY(140%);
      background-color: var(--color-black);
      width: 35px;
      height: 35px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0%;
      svg {
        color: var(--color-white);
        margin-left: 0;
      }
    }

    &__buttonOpen {
      svg {
        rotate: 180deg;
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
  }

  &__price {
    color: var(--color-secondary);
    margin-top: 0;
    font-weight: var(--font-weight-extra-bold);
  }

  &__prestations {
    list-style-type: none;
    padding-left: 0;
    width: 100%;

    @media screen and (max-width: $width-max-mobile) {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease-in-out;
    }
  }

  &__prestation {
    font-size: var(--font-size-text);
    &:not(:last-child) {
      margin-bottom: var(--margin-small);
    }
    .checkmark {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__button {
    @include button(
      max-content,
      var(--color-white),
      var(--color-black),
      var(--color-black),
      var(--color-white),
      30px,
      1px solid var(--color-black),
      1px solid var(--color-black),
      700,
      true);

    &.button-small {
      @include button-size-small();
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-small);
    line-height: var(--line-height-footer);

    @media screen and (max-width: $width-max-mobile) {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease-in-out;
    }
    .plan__mail {
      .mail {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .plan__phone {
      text-decoration: none;

      .phone {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: $width-max-mobile) {
  .open {
    max-height: 1000px;
  }
}

.plan__footer[hidden] {
  display: none;
}
