#wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#carousel::-webkit-scrollbar {
  height: 0;
}
.button-carrousel{
  display: flex;
  justify-content: space-around;
  margin: var(--margin-small) 0 var(--margin-small) 0;
}
#prev,
#next {
  display: flex;
  justify-content: center;
  background: var(--color-black);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  width: 50px;height: 50px;
  align-items: center;
  transition: all 500ms ease-in-out;
}
#prev:hover, #next:hover {
  background: var(--color-orange);
  box-shadow: 8px 8px 50px 0 rgb(0 0 0 / 17%);
}

#prev {
  display: none;
}


#next svg{
  transform: rotate(90deg);
}
#prev svg{
  transform: rotate(270deg);
}
#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  max-width: none;
  object-fit: contain;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 500ms ease-in-out;
  }

.item:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  }

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
