.blocks-etapes{
  display:flex;
  flex-direction: column;
  @media screen and (max-width: $width-max-mobile) {
    h2{
        margin-bottom: var(--margin-large);
    }
  }
  .etape{
    @include box-with-shadow();
    margin-bottom: var(--margin-large);
    width: 100%;
    @media (min-width: $container-ipad) {
      width: 60%;
      margin-bottom: var(--margin-medium);
      flex-direction: row-reverse;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:nth-child(odd) {
      align-self: flex-end;
      @media (min-width: $container-ipad) {
        flex-direction: row;
      }
      span{
        transform: translateY(-50%);
        @media (min-width: $container-ipad) {
          transform: translateX(-50%);
        }
      }
    }
  }
    .etape-texte{
      @include box-with-shadow();
      margin-bottom: var(--margin-large);
      width: 100%;
      @media (min-width: $container-ipad) {
        width: 60%;
        margin-bottom: var(--margin-medium);
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:nth-child(even) {
        align-self: flex-end;
        @media (min-width: $container-ipad) {
          flex-direction: row;
        }
        span{
          transform: translateY(-50%);
          @media (min-width: $container-ipad) {
            transform: translateX(-50%);
          }
        }
      }
    }
    span{
      background-color: var(--color-primary);
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      font-weight: var(--font-weight-bold);
      font-family: var(--font-poppins);
      color: var(--color-white);
      font-size: var(--font-size-h2);
      transform: translateY(-50%);
      margin: auto;
      @media (min-width: $container-ipad) {
        transform: translateX(50%);
        height: 50px;
      }
    }
    .contenu{
      padding: var(--margin-small) var(--margin-large) var(--margin-large) var(--margin-large);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $container-ipad) {
        padding: var(--margin-large);
      }
      h3{
        text-align: center;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .button-b{
        margin: 0;
      }
    }

  .button-w{
    margin: auto;
  }
}

@media (min-width: $container-ipad) {
  .block-etapes-texte{
    .etape-texte{
      &:nth-child(2)::before{
        content: '';
        background-image: url('../../svg/fleche_suite.svg');
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20%;
        transform: scale(5);
      }
      &:nth-child(5)::after{
        content: '';
        background-image: url('../../svg/fleche_boucle.svg');
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20%;
        transform: scale(5);
      }
    }
  }
}
@media screen and (min-width: $container-ipad-landscape) {
    .only-etape{
        max-width: 70%;
        margin: auto;
    }
}
