.formulaire-facyl{
  h2{
    text-align: left;
    font-size: var(--font-size-h1);
    text-transform: uppercase;
  }
  .red{
    color: var(--color-error);
  }
  .sr-only, h1{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .wpcf7-form.init > div {
    margin-bottom: var(--margin-medium);
  }
  .required::after{
    content: " *";
    color: var(--color-error);
  }
  .dnd-upload-counter{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  .codedropz-upload-handler{
    border: 0;
    margin-bottom: 0;
  }
  .dnd-upload-image{
    display: none;
  }
  .dnd-upload-status .dnd-upload-details .remove-file span::after{
    content: "X";
    color: var(--color-white);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .codedropz-upload-inner .codedropz-btn-wrap a.cd-upload-btn{
    color: var(--color-white);
  }
  .dnd-upload-status .dnd-upload-details .remove-file{
    border: 1px solid var(--color-white);
    border-radius: 25px;
  }
}

.formulaire{
  &__couleur{
    @media only screen and (min-width: $width-max-mobile) {
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    border: 0;
    padding: 0;
    legend{
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-h2);
      margin-top: 0;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    p{
      grid-column-end: 4;
      grid-column-start: 1;
      margin-top: 0;
    }
    label{
      font-weight: var(--font-weight-regular);
    }
  }
  &__police{
    display: flex;
    label{
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-h2);
      margin: 0;
    }
  }
  &__menu{
    @media only screen and (min-width: $width-max-mobile) {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
    }
    &_logo{
      display: flex;
      flex-direction: column;
      p{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
      }
      label{
        @include button(
        fit-content,
        var(--color-white),
        var(--color-white),
        var(--color-black),
        var(--color-black),
        30px,
        1px solid var(--color-black),
        1px solid var(--color-black),
        var(--font-weight-semibold),
        true);
      }
    }
    &_nb-pages{
      label{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
        select{
          margin-top: 2.9rem;
        }
      }
    }
    &_nom-pages{
      label{
        display: flex;
        flex-direction: column;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
      }
      textarea{
        width: 100%;
      }
    }
    &_pages{
      border: 0;
      padding: 0;
      legend{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
      }
      .wpcf7-checkbox{
        display: flex;
        flex-direction: column;
        .wpcf7-list-item{
          margin: 0;
          label{
            display: flex;
            align-items: center;
            @media only screen and (max-width: $width-max-mobile) {
              margin-bottom: var(--margin-small);
            }
            input{
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &__entete{
    @media only screen and (min-width: $width-max-mobile) {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
    }
    &_fond{
      border: 0;
      padding: 0;

      legend{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
      }
      .wpcf7-list-item{
        margin: 0;
        label{
          display: flex;
          align-items: center;
          input{
            margin: 1rem;
          }
        }
      }
    }
    &_baseline{
      label{
        display: flex;
        flex-direction: column;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        input{
          margin-top: 2.9rem;
        }
      }
    }
    &_description{
      display: flex;
      flex-direction: column;
      border: 0;
      padding: 0;
      grid-column-start: 1;
      grid-column-end: 3;
      legend{
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-bold);
        margin-top: 0;
      }
      .wpcf7-list-item{
        margin: 0 2rem 0 0;
        label{
          display: flex;
          align-items: center;
          input{
            margin-right: 5px;
          }
        }
      }
    }
    div[data-id='entete-desc']{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &_activite{
      label{
        display: flex;
        flex-direction: column;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        textarea{
          margin-top: 2.9rem;
          width: 100%;
        }
      }
    }
  }
  &__contenu{
    &_mea, &_difference, &_reassurance{
      display: flex;
      flex-direction: column;
      fieldset{
        border: 0;
        padding: 0;
      }
      legend{
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        margin-top: 0;
      }
      .wpcf7-checkbox{
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $width-max-mobile) {
          flex-direction: column;
        }
        .wpcf7-list-item{
          @media only screen and (max-width: $width-max-mobile) {
            text-align: center;
          }
          margin: 0 2rem 0 0;
          label{
            display: flex;
            align-items: center;
            @media only screen and (min-width: $width-max-mobile) {
              flex-direction: column;
            }
            @media only screen and (max-width: $width-max-mobile) {
              margin-bottom: var(--margin-small);
              input{
                margin-right: var(--margin-small);
              }
            }
          }
        }
      }
      [data-id="mise-en-avant-image"],[data-id="difference-image"]{
        display: flex;
        flex-direction: column;
        p{
          font-size: var(--font-size-h3);
          font-weight: var(--font-weight-semibold);
        }
        label{
          @include button(
          fit-content,
          var(--color-white),
          var(--color-white),
          var(--color-black),
          var(--color-black),
          30px,
          1px solid var(--color-black),
          1px solid var(--color-black),
          var(--font-weight-semibold),
          true);
        }
      }
      [data-id="mise-en-avant-texte"],[data-id="difference-texte"]{
        display: flex;
        flex-direction: column;
        label{
          font-size: var(--font-size-h3);
          font-weight: var(--font-weight-semibold);
        }
        textarea{
          width: 100%;
        }
      }
      [data-id="mise-en-avant-texte-image"],[data-id="difference-texte-image"]{
        @media only screen and (min-width: $width-max-mobile) {
          display: grid;
          grid-template-columns: 20% 1fr;
          grid-template-rows: 20% 80%;
          gap: 2rem;
        }
        p{
          grid-row-start: 1;
          grid-row-end: 2;
          font-size: var(--font-size-h3);
          font-weight: var(--font-weight-semibold);
          margin-bottom: 0;
        }
        label:first-of-type{
          @include button(
          fit-content,
          var(--color-white),
          var(--color-white),
          var(--color-black),
          var(--color-black),
          30px,
          1px solid var(--color-black),
          1px solid var(--color-black),
          var(--font-weight-semibold),
          true);
          height: fit-content;
        }
        label:last-child{
          grid-row-start: 1;
          grid-row-end: 3;
          display: flex;
          flex-direction: column;
          textarea{
            width: 100%;
          }
        }
      }
      [data-id="mise-en-avant-chiffres"], [data-id="mise-en-avant-valeurs"], [data-id="difference-chiffres"], [data-id="difference-valeurs"]{
        display: flex;
        flex-direction: column;
        textarea{
          width: 100%;
        }
      }
      &_temoignages, &_clients, &_realisations{
        @media only screen and (min-width: $width-max-mobile) {
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-column-gap: 2rem;
        }
        &:not(:last-child){
          margin-bottom: var(--margin-medium);
        }
        margin-top: 0;
        input{
          width: 100%;
        }
        label:last-child{
          display: flex;
          flex-direction: column;
          .wpcf7-form-control-wrap{
            @include button(
            fit-content,
            var(--color-white),
            var(--color-white),
            var(--color-black),
            var(--color-black),
            30px,
            1px solid var(--color-black),
            1px solid var(--color-black),
            var(--font-weight-semibold),
            true);
          }
        }
      }
      .wpcf7-form-control-wrap{
        margin-bottom: var(--margin-medium);
      }
    }
    &_existant{
      display: flex;
      flex-direction: column;
      border: 0;
      padding: 0;
      legend{
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-bold);
        margin-top: 0;
      }
      .wpcf7-list-item{
        margin: 0 2rem 0 0;
        label{
          display: flex;
          align-items: center;
          input{
            margin-right: 5px;
          }
        }
      }
    }
    &_articles{
      @media only screen and (min-width: $width-max-mobile) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      &_question{
        display: flex;
        flex-direction: column;
        border: 0;
        padding: 0;
        legend{
          font-size: var(--font-size-h2);
          font-weight: var(--font-weight-bold);
          margin-top: 0;
        }
        .wpcf7-list-item{
          margin: 0 2rem 0 0;
          label{
            display: flex;
            align-items: center;
            input{
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &__mentions{
    @media only screen and (min-width: $width-max-mobile) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    label{
      display: flex;
      flex-direction: column;
      input{
        width: 100%;
      }
    }
  }
}
