@media only screen and (min-width: $width-max-mobile) {
  .eco-conception {
    display: grid;
    grid-column-gap: var(--margin-medium);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,max-content);
  }

  .eco-conception-text {
    grid-column-end: 5;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    h2 {
      margin-bottom: var(--margin-small);
      text-align: left;
    }
    p {
      margin-top: 0;
    }
  }

  .eco-conception-container {
    @include box-with-shadow(25px,50px,var(--color-secondary));
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      font-weight: var(--font-weight-medium);
      color: var(--color-white);
      padding: var(--margin-medium) var(--margin-small) 0 var(--margin-small);
    }

    .rail {
      stroke: var(--color-light-secondary);
    }

    .progress {
      stroke: var(--color-jauge);
    }

    .value {
      color: var(--color-white);
    }

    .percentage {
      color: var(--color-white);
    }
  }

  .gauge-container {
    display: inline-block;
    position: relative;
    width: 70%;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-large);

    .gauge {
      position: relative;
      display: block;

      circle {
        stroke-width: 15;
      }

      .rail {
        fill: transparent;
      }

      .progress {
        fill: transparent;
        stroke-linecap: round;
      }
    }

    .center {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;

      .percentSymbol {
        font-size: var(--font-size-h1);
      }

      .value {
        font-size: var(--font-size-h1);
      }
    }
  }

  .title-green-it {
    @include box-with-shadow(20px,50px);
    height: 50%;
    h3 {
      text-align: center;
      font-weight: var(--font-weight-medium);
      padding: var(--margin-medium) var(--margin-small) 0 var(--margin-small);
    }
    .green-it-note {
      display: flex;
      justify-content: center;
    }
  }

  .green-it-container {
    .link {
      height: 50%;
      .link-google-speed-test {
        @include button(
          fit-content,
          var(--color-white),
          var(--color-white),
          var(--color-black),
          var(--color-black),
          30px,
          1px solid var(--color-black),
          1px solid var(--color-black),
          var(--font-weight-semibold),
          true);
        padding: 5px;
        display: flex;
        svg {
          margin-left: 0;
        }
      }
      .link-green-it {
        @include button(
          fit-content,
          var(--color-white),
          var(--color-white),
          var(--color-black),
          var(--color-black),
          30px,
          1px solid var(--color-black),
          1px solid var(--color-black),
          var(--font-weight-semibold),
          true);
        padding: 5px;
        display: flex;
        top: 70%;
        left: 90%;
        svg {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $width-max-mobile) {
  .eco-conception {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }

  .eco-conception-text {
    grid-row: 1;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-medium);
    h2 {
      margin-bottom: var(--margin-small);
      text-align: center;
    }
    p {
      margin-top: 0;
    }
  }

  .eco-conception-container {
    @include box-with-shadow(25px,50px,var(--color-secondary));
    align-items: center;
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-small);

    h3 {
      text-align: center;
      font-weight: var(--font-weight-medium);
      color: var(--color-white);
      padding: var(--margin-medium) var(--margin-small) 0 var(--margin-small);
    }

    .title-container {
      color: var(--color-white);
      text-align: center;
      margin-top: var(--margin-medium);
      font-size: var(--font-size-h2);
      font-weight: var(--font-weight-bold);
    }

    .rail {
      stroke: var(--color-light-secondary);
    }

    .progress {
      stroke: var(--color-jauge);
    }

    .value {
      color: var(--color-white);
    }

    .percentage {
      color: var(--color-white);
    }
  }

  .gauge-container {
    display: inline-block;
    position: relative;
    width: 70%;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-medium);

    .gauge {
      position: relative;
      display: block;

      circle {
        stroke-width: 15;
      }

      .rail {
        fill: transparent;
      }

      .progress {
        fill: transparent;
        stroke-linecap: round;
      }
    }

    .center {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;

      .percentSymbol {
        font-size: 4.5rem;
      }

      .value {
        font-size: 4.5rem;
      }
    }
  }

  .green-it-container {
    height: fit-content;
    margin-bottom: var(--margin-medium);
    .link {
      display: none;
    }
    .title-green-it {
      @include box-with-shadow(20px,50px);
      padding-bottom: var(--margin-large);
      h3 {
        font-size: var(--font-size-h2);
        text-align: center;
        font-weight: var(--font-weight-medium);
        padding: var(--margin-medium) var(--margin-small) var(--margin-small) var(--margin-small);
      }
      .green-it-note {
        display: flex;
        justify-content: center;
      }
      svg {
        width: 80px;
      }
    }
  }
}
