@media only screen and (min-width: $width-max-mobile) {
  .left{
    grid-column: 1;
    grid-row: 1;
  }

  .right{
    grid-column: 2;
    grid-row: 1;
  }

  .grid-image-left{
    grid-template-columns: 40% auto;
  }

  .grid-image-right{
    grid-template-columns: auto 40%;
  }

  .image-texte{
    margin: 0 var(--margin-large) var(--margin-large) var(--margin-large);
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: var(--margin-medium);
    .block-texte {
      h2{
        margin-top: 0;
        margin-bottom: var(--margin-small);
      }
      p{
        margin: 0;
      }
    }
    .block-image {
      img{
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: $width-max-mobile) {
  .image-texte {
    margin: 0 var(--margin-medium);
    .block-texte {
      h2 {
        margin-top: 0;
        margin-bottom: var(--margin-small);
      }
      p {
        margin-top: 0;
        margin-bottom: var(--margin-small);
      }
    }
    .block-image {
      margin-top: 0;
      margin-bottom: var(--margin-medium);
      img{
        max-width: 100%;
      }
    }
  }
}
